{% extends 'base.html.twig' %}

{% block title %}Ajouter un film{% endblock %}

{% block body %}
    <div class="container h-100">
        <div class="d-flex justify-content-center my-5">
            <h1>Ajoutez votre film</h1>
        </div>

        {{ form_start(formMovie) }}

        <div class="d-flex justify-content-center mb-4">
            {# Affiche les labels #}
            <div class="d-flex flex-column">
                <div class="form-control-lg">
                    {{ form_label(formMovie.Titre) }}
                </div>
                <div class="form-control-lg">
                    {{ form_label(formMovie.Synopsis) }}
                    <p id="compteur"></p>
                </div>
                <div class="form-control-lg">
                    {{ form_label(formMovie.Realisateur) }}
                </div>
                <div class="form-control-lg">
                    {{ form_label(formMovie.Casting) }}
                </div>
                <div class="form-control-lg">
                    {{ form_label(formMovie.Annee) }}
                </div>
                <div class="form-control-lg">
                    {{ form_label(formMovie.Image) }}
                </div>
            </div>
            {# ################################### #}
            {# Affiche les widget, cad les input #}
            <div class="d-flex flex-column">
                <div class="form-control-lg">
                    {{ form_widget(formMovie.Titre) }}
                </div>
                <div class="form-control-lg">
                    {{ form_widget(formMovie.Synopsis, {'id': 'zoneTexte'}) }}
                </div>
                <div class="form-control-lg">
                    {{ form_widget(formMovie.Realisateur) }}
                </div>
                <div class="form-control-lg">
                    {{ form_widget(formMovie.Casting) }}
                </div>
                <div class="form-control-lg">
                    {{ form_widget(formMovie.Annee) }}
                </div>
                <div class="form-control-lg">
                    {{ form_widget(formMovie.Image) }}
                </div>
            </div>
            {# ###################################### #}
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary">Ajouter</button>
        </div>
        {{ form_end(formMovie) }}
    </div>
{% block javascripts %}
    <script>
        var zoneTexte = document.getElementById('zoneTexte');
        zoneTexte.addEventListener('keydown', function() {
            var compteur = document.getElementById('compteur');
            compteur.innerHTML = zoneTexte.value.length + "/500";
        });
    </script>

{% endblock %}
{% endblock %} 