{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">

        <div class="d-flex justify-content-center my-5">
            <h1>Bienvenue sur le projet Movie !</h1>
        </div>

        <div class="description">
            <h3>Intitulé</h3>
            <p>La plateforme Movie sur laquelle vous vous trouvez actuellement réfère plus de 50 films notables et intergénérationnel. Vous pouvez retrouvez des classiques comme Métropolis de Lang ou encore Joker de Philips.
                <br><br>
                Si vous pensez qu'un film mérite sa place parmi cette liste, libre à vous de l'ajouter grâce à l'onglet "Ajouter un film".
                <br><br>
                Vous verrez qu'un film doit obligatoirement avoir certains critères comme un titre ou un réalisateur. Movie vous permet tout de même de rajouter le casting ou encore le synopsis de votre film favori.

            </p>

            <h3>Objectif</h3>
            <p>L'objectif de ce projet est principalement... la chronophagie qu'il m'apporte.
                <br><br>
                En effet, durant ce confinement, chacun s'occupe comme il peut, et moi, j'adore 2 choses:
                Les grands films et apprendre.
                J'ai donc naturellement tourné ce projet autour des films.
                <br><br>
                Pour ce qui est d'apprendre, j'ai développé ce projet avec Symfony5, une toute nouvelle technologie pour moi. J'ai pu apprendre ses bases comme le système d'Entity, de Controller et de Repository, mais aussi les bases de Twig et Doctrine.
                <br><br>
                Vous pouvez trouver mon site web <a target="_blank" href="https://mickaelurien.fr">ici</a> ou bien dans le footer en bas de page pour en savoir sur ma formation et mes projets.
            </p>

        </div>
    </div>

{% endblock %}