{% block body %}


            {% if liste is empty %}
                    <div class="container">
                        <div class="d-flex justify-content-center mt-5">
                            <h1>Pas de résultats</h1>
                        </div>
                    </div>
            {% else %}
                <div class="col-11 offset-1">
                    <div class="row">
                        {% for movie in liste %}
                            {% include 'movie/oneMovie.html.twig'%}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}



<div class="d-flex justify-content-center">
    <div>
        {{ knp_pagination_render(liste) }}
    </div>
</div>
{% endblock %}