{% extends 'base.html.twig' %}

{% block title %}{{ movie.Titre }}{% endblock %}

{% block body %}
    <div class="container d-flex py-5">
        <div class="offset-1 col-4">
            {% if movie.filename %}
                <img height="200px" src="{{ asset('img/movies/') }}{{ movie.filename }}" alt="{{ movie.Titre }}">
            {% endif %}
        </div>
        <div class="col-6">
            <div class="d-flex flex-column justify-content-center mb-3">
                <h4 class="mb-3">{{ movie.Titre }}</h4>
            </div>
            <p>Réalisé par {{ movie.Realisateur }}</p>

            {% if movie.Casting %}
                <p>Avec {{ movie.Casting }}</p>
            {% endif %}

            <p>Sortie en {{ movie.Annee }}</p>


            {% if movie.Synopsis %}
                <p>Synopsis : </p>
                <p>{{ movie.Synopsis }}</p>
            {% endif %}
        </div>


    </div>

{% endblock %}
