{% block body %}
    <div class="col-5 card my-3 mx-5" style="width: 40rem;">
        <a href="{{ path('movie_show', {'id': movie.Id}) }}" style="text-decoration: none">
            <div class="row" style="flex-wrap: nowrap">
                <div class="card-body mx-5 my-3" >
                    <h5 class="card-title">{{ movie.titre }}</h5>
                    <p class="card-text">Réalisé par {{ movie.realisateur }}</p>
                    {% if movie.Casting %}
                    <p class="card-text">Avec {{ movie.casting }}</p>
                    {% endif %}
                    <p class="card-text">{{ movie.Annee }}</p>
                </div>
                {% if movie.filename %}
                    <div style="padding: 30px">
                        <img height="150px" src="{{ vich_uploader_asset(movie, 'Image') | imagine_filter('thumb') }}" alt="{{ movie.Titre }}">
                    </div>
                {% endif %}
            </div>

        </a>
    </div>




{% endblock %}