{% extends 'base.html.twig' %}

{% block title %}Recherchez un film{% endblock %}

{% block body %}

    {# TITRE #}
    <div class="d-flex justify-content-center my-5">
        <h1>Recherchez un film avec vos critères !</h1>
    </div>
    {# FORMULAIRE #}
    <div class="container js-filter-form">
        {{ form_start(form) }}
        <div class="row mb-5">
            <div class="col-10">
                {{ form_row(form.q) }}
            </div>
            <div class="col-2">
                <button class="btn btn-primary py-2">Rechercher</button>
            </div>
        </div>
        <div class="row col-12 mb-5">
            <div class="col-3 px-0">
                {{ form_row(form.minDate) }}
            </div>
            <div class="col-3 px-0">
                {{ form_row(form.maxDate) }}
            </div>
            <div class="col-4">
                {{ form_row(form.orderBy) }}
            </div>
            <div class="col-2">
                <p style="margin-top: 8px">{{ nbMovies }} résultats</p>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {# CONTENU #}
    {% if liste is empty %}
        <div class="d-flex justify-content-center mt-5">
            <h1>Pas de résultats</h1>
        </div>
    {% else %}
        <div class="col-11 offset-1">
            <div class="row">
                {% for movie in liste %}
                    {% include 'movie/oneMovie.html.twig' %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {# PAGINATION #}
    <div class="d-flex justify-content-center js-filter-pagination pb-5 pt-3">
        {{ knp_pagination_render(liste) }}
    </div>

{% endblock %}