{% extends 'base.html.twig' %}

{% block title %}{{ movie.Titre }} à été ajouté{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex my-5 justify-content-center">
            <h1>{{ movie.Titre }} de {{ movie.Realisateur}} à été ajouté avec succés ! </h1>
        </div>
        <div class="d-flex justify-content-center">
            <p style="font-size: 24px">Vous pouvez le retrouver dans <a style="wrap: no-wrap" href="{{ path('search') }}">la liste des films</a></p>
        </div>

    </div>
{% endblock %}