html {
    position: relative;
    min-height: 100%;
}
p {
    font-size: 16px;
    text-align: justify;
}

footer {
    border-top: 1px #55595C solid;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.description > h3 {
    margin-bottom: 18px;
}

.description  p {
    margin-bottom: 5rem;
}