<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Les films{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    {% endblock %}
</head>
<body>

{% block header %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand ml-3" href="{{ path('home') }}" style="color: #ffff33">
            <i class="fas fa-fire"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('search') }}">Rechercher un film</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('add_movie') }}">Ajouter un film</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="page-footer footer">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a target="_blank" href="https://mickaelurien.fr">Mickaël Urien</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}
</body>

</html>